<html>
<head>
    <title>Document</title>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/v-switch-case@1.0.2/dist/v-switch.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
</head>
<body>
    <!-- <form id="my-form"> -->
    <div id="app" class="page-content">
        <header>
            <h1>SPARKLINE</h1>
        </header>
        <div v-if="is_main">
            <label for="project_code"> Project Code: </label>
            <select name="entry.1078477103" id="project_code" v-model="payload.project_code">
               <option v-for="(item, index) in codes" :key="index">
                {{ item }}
                </option>
            </select>
            <br><br><br>
            <label for="tunnel"> Tunnel: </label>
            <select name="entry.1213033535" id="tunnel" v-model="payload.tunnel">
                <option v-for="(item, index) in tunnels" :key="index">
                {{ item }}
            </option>
            </select>
            <br><br></br>
            <label for="Operator"> Operator Name: </label>
            <select name= "entry.2031717987" id="operator" v-model="payload.employee">
            <option v-for="(item, index) in users" :key="index">
                {{ item }}
            </option>
            </select>
            <br><br><br>
            <!-- All all page values here small_case -->
            <input name= "entry.492632194" type="radio" v-model="showComp" value="l_angle" >L Angle
            <input name= "entry.492632194" type="radio" v-model="showComp" value="panel" >Panel
            <input name= "entry.492632194" type="radio" v-model="showComp" value="two_d" >2D
            <input name= "entry.492632194" type="radio" v-model="showComp" value="three_d" >3D
            <input name= "entry.492632194" type="radio" v-model="showComp" value="finish_weld" >Finish Weld
            <br><br>
        </div>

        <!-- create all subcomponents for all html pages here, add all input fields without form tags below the h1 tags -->
        <div v-if="comps.l_angle">
            <h1>
                L Angle
            </h1>
            <br><br>
            <div>
                <input name= "entry.2037443837" type="radio" v-model="payload.direction" value="UP" >UP
                <input name= "entry.2037443837" type="radio" v-model="payload.direction" value="DOWN" >DOWN
            </div>
            <br><br>
            <div>
                <input name= "entry.1814352900" type="radio" v-model="payload.side" value="LH" >LH
                <input name= "entry.1814352900" type="radio" v-model="payload.side" value="RH" >RH
            </div>
            <br><br>
            <div>
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Start" >Start
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Stop" >Stop
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Finish" >Finish
            </div> 
            <br><br>
            <label for="shift">Shift: </label>
            <select name="entry.1428035848" id="shift" v-model="payload.shift">
               <option v-for="(item, index) in shift" :key="index">
                {{ item }}
                </option>
            </select>
            <label for="reason_to_stop">Reason to Stop: </label>
            <select name="entry.1540913178" id="reason_to_stop" v-model="payload.reason_to_stop">
               <option v-for="(item, index) in reason_to_stop" :key="index">
                {{ item }}
                </option>
            </select>
        </div>

        <div v-if="comps.panel">
            <h1>
                Panel
            </h1>
            <div>
                <input name= "entry.2008913860" type="radio" v-model="payload.panel_type" value="Roof" >Roof
                <input name= "entry.2008913860" type="radio" v-model="payload.panel_type" value="Floor" >Floor
                <input name= "entry.2008913860" type="radio" v-model="payload.panel_type" value="Wall Panel" >Wall Panel
            </div>
            <div>
                <input name= "entry.1814352900" type="radio" v-model="payload.side" value="LH" >LH
                <input name= "entry.1814352900" type="radio" v-model="payload.side" value="RH" >RH
            </div>
            <div>
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Start" >Start
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Stop" >Stop
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Finish" >Finish
            </div> 
            <label for="shift"> Shift: </label>
            <select name="entry.1428035848" id="shift" v-model="payload.shift">
               <option v-for="(item, index) in shift" :key="index">
                {{ item }}
                </option>
            </select>
            <label for="reason_to_stop"> Reason to Stop: </label>
            <select name="entry.1540913178" id="reason_to_stop" v-model="payload.reason_to_stop">
               <option v-for="(item, index) in reason_to_stop" :key="index">
                {{ item }}
                </option>
            </select>
        </div>
        <div v-if="comps.two_d">
            <h1>
                2D
            </h1>
            <div>
                <input name= "entry.831304656" type="radio" v-model="payload.inex" value="Interior" >Interior
                <input name= "entry.831304656" type="radio" v-model="payload.inex" value="Exterior" >Exterior
            </div>
            <div>
                <input name= "entry.1814352900" type="radio" v-model="payload.side" value="LH" >LH
                <input name= "entry.1814352900" type="radio" v-model="payload.side" value="RH" >RH
            </div>
            <div>
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Start" >Start
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Stop" >Stop
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Finish" >Finish
            </div> 
            <label for="shift"> Shift: </label>
            <select name="entry.1428035848" id="shift" v-model="payload.shift">
               <option v-for="(item, index) in shift" :key="index">
                {{ item }}
                </option>
            </select>
            <label for="reason_to_stop"> Reason to Stop: </label>
            <select name="entry.1540913178" id="reason_to_stop" v-model="payload.reason_to_stop">
               <option v-for="(item, index) in reason_to_stop" :key="index">
                {{ item }}
                </option>
            </select>
        </div>

        <div v-if="comps.three_d">
            <h1>
                3D
            </h1>
            <div>
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Start" >Start
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Stop" >Stop
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Finish" >Finish
            </div> 
            <label for="shift"> Shift: </label>
            <select name="entry.1428035848" id="shift" v-model="payload.shift">
               <option v-for="(item, index) in shift" :key="index">
                {{ item }}
                </option>
            </select>
            <label for="reason_to_stop"> Reason to Stop: </label>
            <select name="entry.1540913178" id="reason_to_stop" v-model="payload.reason_to_stop">
               <option v-for="(item, index) in reason_to_stop" :key="index">
                {{ item }}
                </option>
            </select>
        </div>
        <div v-if="comps.finish_weld">
            <h1>
                Finish Weld
            </h1>
            <div>
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Start" >Start
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Stop" >Stop
                <input name= "entry.1596100045" type="radio" v-model="payload.status" value="Finish" >Finish
            </div> 
            <label for="shift"> Shift: </label>
            <select name="entry.1428035848" id="shift" v-model="payload.shift">
               <option v-for="(item, index) in shift" :key="index">
                {{ item }}
                </option>
            </select>
            <label for="reason_to_stop"> Reason to Stop: </label>
            <select name="entry.1540913178" id="reason_to_stop" v-model="payload.reason_to_stop">
               <option v-for="(item, index) in reason_to_stop" :key="index">
                {{ item }}
                </option>
            </select>
        </div>
        <div>
            <button onclick=" return submitForm()">Submit</button>
            
        </div>
    </div>
    <!-- </form> -->
    
</body>
<script>
const { createApp } = Vue;

createApp({
    data() {
        return {
            message: "Hello Vue!",
            codes: ["code1", "code2", "code3"],
            tunnels: ["A", "B", "C"],
            shift: ["Shift 1","Shift 2","Overtime 1","Overtime 2"],
            users: ["Guddu Sahani","Pramod Gupta","Rahul Kumar","Irfan Ali","Rajesh Pal","Satish Kumar","Rakesh Bharti","Arman Khan","Balwant Yadav","Rajkumar Sharma","Satyendra Yadav","Mahendra Yadav","Dhruv Raj"],
            reason_to_stop: ["Water","Toilet","Tea Time","Lunch Time","Shift Over","Setup Time","Material Not Available","Material Movement","Consumable Loading","Handling Time","Machine Breakdown","Manpower Not Available","Kaizen","Other"],
            payload: {
                project_code: null,
                tunnel: null,
                employee: null,
                process: null,
                direction: null,
                panel_type: null,
                inex: null,
                side: null,
                status: null,
                shift: null,
                reason_to_stop: null,
            },
            is_main: true,
            comps: {
                l_angle: false,
                panel: false, 
                two_d: false, 
                three_d: false, 
                finish_weld: false,
            },
            showComp1: null,
        };
    },
    computed: {
        showComp: {
            get() {
                return this.showComp1;
            },
            set(val) {
                this.showComp1 = val;
            }
        }
    },
    methods: {
        submit() {
            console.log(this.payload);
        },
        setAllFalse(comp_name) {
            for (const key in this.comps) {
                if(key!=comp_name) {
                    this.comps[key]=false;
                }
            }
        },
    },
    watch: {
        showComp1(value) {
            this.payload.process = value;
            this.comps[value] = true;
            this.setAllFalse(value);
        }
    }
}).mount("#app");

let previousValues = {};
    function submitForm() 
    {
        const codeInput = document.getElementById('project_code');
        const optionInput = document.querySelector('input[name="entry.1596100045"]:checked');
        
        const previouscodes = previousValues['code'] || [];
        const previouscodeoptions = previousValues['code-option'] || {};
        const previousoptions = previouscodeoptions[codeInput.value] || [];

        if (previousoptions.length > 0 && previousoptions[previousoptions.length - 1] === 'Stop' && optionInput.value === 'Finish') 
        {
            alert('Project Code under STOP. Please START first!!');
           return;
        }
        
        previouscodes.push(codeInput.value);
        previousValues['code'] = previouscodes;
        
        if (!previouscodeoptions[codeInput.value]) 
        {
            previouscodeoptions[codeInput.value] = [];
        }
        
        previouscodeoptions[codeInput.value].push(optionInput.value);
        previousValues['code-option'] = previouscodeoptions;




        var process,direction,side,panel_type,inex,status;
        process=document.querySelector('input[name="entry.492632194"]:checked');
        if (process) 
        {
            process = process.value;
        }
        else
        {
            process='NA';
        }
        direction=document.querySelector('input[name="entry.2037443837"]:checked');
        if (direction) 
        {
            direction = direction.value;
        }
        else
        {
            direction='NA';
        }
        side=document.querySelector('input[name="entry.1814352900"]:checked');
        if (side) 
        {
            side = side.value;
        }
        else
        {
            side='NA';
        }
        panel_type=document.querySelector('input[name="entry.2008913860"]:checked');
        if (panel_type) 
        {
            panel_type = panel.value;
        }
        else
        {
            panel_type='NA';
        }
        inex=document.querySelector('input[name="entry.831304656"]:checked');
        if (inex) 
        {
            inex = inex.value;
        }
        else
        {
            inex='NA';
        }
        status=document.querySelector('input[name="entry.1596100045"]:checked');
        if (status) 
        {
            status = status.value;
        }
        else
        {
            status='NA';
        }




        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "https://docs.google.com/forms/d/e/1FAIpQLSeNBvOB1CXOI5zZ6NwJYUSOQlkhLAPJfLTF2J5HgVgPpPei0w/formResponse", true);
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        // xhttp.setRequestHeader("Access-Control-Allow-Origin", "http://localhost");
        // xhttp.setRequestHeader("Access-Control-Allow-Methods", "POST");
        // xhttp.setRequestHeader("Access-Control-Max-Age","86400");
        // xhttp.withCredentials = true;
        
        xhttp.send( "entry.1078477103=" + 
                    encodeURIComponent(document.getElementById("project_code").value) +
                    "&entry.1213033535=" + 
                    encodeURIComponent(document.getElementById("tunnel").value) +
                    "&entry.2031717987=" + 
                    encodeURIComponent(document.getElementById("operator").value) + 
                    "&entry.492632194=" +
                    encodeURIComponent(process) +
                    "&entry.2037443837=" +
                    encodeURIComponent(direction) +
                    "&entry.2008913860=" +
                    encodeURIComponent(panel_type) +
                    "&entry.831304656=" +
                    encodeURIComponent(inex) +
                    "&entry.1814352900=" +
                    encodeURIComponent(side) +
                    "&entry.1596100045=" +
                    encodeURIComponent(status) + 
                    "&entry.1428035848=" + 
                    encodeURIComponent(document.getElementById("shift").value) + 
                    "&entry.1540913178=" + 
                    encodeURIComponent(document.getElementById("reason_to_stop").value));

        alert("Form Submitted!!");
    }
</script>
</html>


